*.pyc
/archive
/ige
/libs
/config.yaml
/config-dev.yaml
/config-prod.yaml
/.venv
/client/deploy
/.idea
/client/index_deploy.csstest.html
.DS_Store
*.meta
update_prod.sh
villagegamedev-7ef4100fcad6.json
villagethegame111-7c4fefc51ff2.json
villagegamedev2_deploy.sh
ige-*-merge
